.shoppingList {
    max-width: 300px;
    margin: auto;
    min-width: fit-content;
}

.itemsList {
    width: 100%;
    max-width: 360px;
}

.addItem {
    padding: 10px 0;
    margin: auto;
    width: max-content;
    display: flex;
}

.addBtn {
    padding-left: 10px;
    margin: auto;
}
